html, body, .App.container {
  width: 100%;
  max-width: 100%;
  background: #ccc;
  min-height: 100vh;
}

header.mainHeader, footer.mainFooter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  background: rgb(130, 0, 0);
  height: 100px;
  box-sizing: border-box;
  color: #fff;
  padding: 1em 2em;
}

header h1,
header h2,
header h3,
header h4,
header h5,
header h6,
footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6 {
  margin: 0;
}


.appContent {
  min-height: calc(100vh - 200px);
  background: #ccc;
}

.card {
  padding: 2em;
  border-radius: 8px;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,.3);
  background: #fff;
  transition: all .3s ease-in-out;
  margin-right: 20px;
  margin-top: 20px;
}

.card:hover {
  transform: scale(1.06, 1.06);
  box-shadow: 2px 2px 12px 4px rgba(0,0,0,.2);
  transition: all .3s ease-in-out;
}

.homeMenu {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.homeMenu li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

.homeMenu li span {
  font-size: 5em;
}

.homeMenu a:last-child{
  margin-right: 0;
}

.doubleCenter {
  width: 100%;
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.columna {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fila {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main.container{
  padding-top: 2em;
}

.sectionHeader {
  margin: 1em 0 1em 0;
  background: #fff;
  box-sizing: border-box;
  padding: 1em;
}

.tableContainer{
  padding: 2em;
  background: #fff;
}

.columna.verticalAlign,
.fila.verticalAlign{
  height: 100%;
  justify-content: center;
}

.loginForm{
 padding: 2em 5em; 
 margin-top: 10em;
}

table tr{
  background: #fff;
  transition: all .2s ease-in-out;
}

table tbody tr:hover{
  transform: scale(1.05,1.05);
  box-shadow: 0 0 10px 1px rgba(0,0,0,.2);
  padding: 0 2em;
}


table tbody tr td:first-child{
  padding: 0 1em;
}

table .textCenter {
  text-align: center;
}

table .textLeft{
  text-align: left;
}